<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="../../style/main.css">
    </head>
    <body>
        <!-- NAV -->
        <div class="nav">
        
          <div class="logo">
            
          </div>
      
          <div class="links">
            <a href="../../index.html">Home</a>
            <a href="../../journal.html">Journal</a>
            <a href="../../rules.html">Rules</a>
            <a href="../../shop-home.html">Shop</a>
          </div>
        </div>

        <div>
          <h1 align="center">Eleimon Name</h1>
          <h2 align="center">ID</h2>
          <audio controls style="position: absolute; left: 530px; width: 220px; height: 25px;">
            <source src="your-audio-file.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
          <p style="position: absolute; top:165px; left: 330px; width: 620px; height: 25px;">This is going to be a long form description of the eleimon,
            essentially going through it's history, region, etc etc.
          </p>
        </div>
        
        <div id="d3-display" style="position: absolute; top: 220px; left: 15px;">
          <div id="stats-box" style="position:absolute; top: 0px; width: 400px; height: 530px; background-color: black;">
            <h2 align="center">Stats</h2>
          </div>
          <div id="viewport" style="position:absolute; top: 0px; left: 400px; width: 835px; height: 530px; background-color: blue;">
            <h2 align="center">3D View is currently unavailable</h2>
          </div>
        </div>

        <div id="showcase" style="position: absolute; top: 780px;">
          <div style="position: absolute; top: 0px;">
            <h3 style="position: absolute; top: 0px; left: 600px;">Artwork</h3>
            <div class="gallery-art" style="position: absolute; top: 30px; left: 5px; width: 1250px; height: 260px; background-color: black;">
              <div id="art-slot-1" class="gallery-slot-art">
                <div style="position: absolute; top: 5px; left: 30px; width: 1190px; height:250px;">
                  <a href=""><img src="" style="position: absolute; left: 0px; width: 190px; height: 250px;"></a>
                  <a href=""><img src="" style="position: absolute; left: 200px; width: 190px; height: 250px;"></a>
                  <a href=""><img src="" style="position: absolute; left: 400px; width: 190px; height: 250px;"></a>
                  <a href=""><img src="" style="position: absolute; left: 600px; width: 190px; height: 250px;"></a>
                  <a href=""><img src="" style="position: absolute; left: 800px; width: 190px; height: 250px;"></a>
                  <a href=""><img src="" style="position: absolute; left: 1000px; width: 190px; height: 250px;"></a>
                </div>
              </div>
            </div>
          </div>

          <div style="position: absolute; top: 310px;">
            <h3 style="position: absolute; top: 0px; left: 580px; width: 300px;">Offical Cards</h3>
            <div class="gallery-cards" style="position: absolute; top: 30px; left: 5px; width: 1250px; height: 260px; background-color: black;">
                <div style="position: absolute; top: 5px; left: 30px; width: 1190px; height:250px;">
                  <a href=""><img src="" style="position: absolute; left: 0px; width: 190px; height: 250px;"></a>
                  <a href=""><img src="" style="position: absolute; left: 200px; width: 190px; height: 250px;"></a>
                  <a href=""><img src="" style="position: absolute; left: 400px; width: 190px; height: 250px;"></a>
                  <a href=""><img src="" style="position: absolute; left: 600px; width: 190px; height: 250px;"></a>
                  <a href=""><img src="" style="position: absolute; left: 800px; width: 190px; height: 250px;"></a>
                  <a href=""><img src="" style="position: absolute; left: 1000px; width: 190px; height: 250px;"></a>
                </div>
            </div>
          </div>
        </div>

        <!-- FOOTER -->
        <footer class="footer" style="position: absolute; top: 1400px; left: 350px">
          <p>™ 2026 Eleimon Project • Torven Interactive LLC. • All rights reserved</p>
        </footer>
    </body>
</html>