<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="../../style/main.css">
    </head>
    <body>
        <!-- NAV -->
        <div class="nav">
        
          <div class="logo">
            
          </div>
      
          <div class="links">
            <a href="../../index.html">Home</a>
            <a href="../../journal.html">Journal</a>
            <a href="../../rules.html">Rules</a>
            <a href="../../shop-home.html">Shop</a>
          </div>
        </div>

        <div>
          <h1 align="center">Move Name</h1>
          <h2 align="center">ID</h2>
        </div>
        
        <div id="d3-display" style="position: absolute; top: 130px; left: 15px;">
          <div id="stats-box" style="position:absolute; top: 0px; width: 400px; height: 530px; background-color: black;">
            <h2 align="center">Stats</h2>
          </div>
          <div id="viewport" style="position:absolute; top: 0px; left: 400px; width: 835px; height: 530px; background-color: blue;">
            <h2 align="center">3D View is currently unavailable</h2>
          </div>
        </div>

        <!-- FOOTER -->
        <footer class="footer" style="position: absolute; top: 680px; left: 350px">
          <p>™ 2026 Eleimon Project • Torven Interactive LLC. • All rights reserved</p>
        </footer>
    </body>
</html>